BattleTank/Build/
BattleTank/DerivedDataCache/
BattleTank/Intermediate/
BattleTank/Saved/
BattleTank/Binaries/

BattleTank/Content/StarterContent/Textures
BattleTank/Content/StarterContent/HDRI
*.VC.db
*.opendb
*.suo
BattleTank/Content/Tank/Shell/Tank shell.blend
